<div>
  <h1>Import data</h1>
  <h2>Select data files for upload, existing records will be updated if found.</h2>

  <h4>Exchange Rates.</h4>
  <p>
    A csv file is required with the following headers:
    <ul>
      <li>Base</li>
      <li>Currency</li>
      <li>Value</li>
      <li>Date</li>
    </ul>
  <input type="file" name="pic" accept=".csv">
  </p>

  <h4>Oil Prices.</h4>
  <p>
    A csv file is required with the following headers:
  <ul>
    <li>Currency</li>
    <li>Value</li>
    <li>Date</li>
  </ul>
  <input type="file" name="pic" accept=".csv">
  </p>

  <h4>Fuel Prices.</h4>
  <p>
    A csv file is required with the following headers:
  <ul>
    <li>Currency</li>
    <li>Base</li>
    <li>Full</li>
    <li>Date</li>
  </ul>
  <input type="file" name="pic" accept=".csv">
  </p>

  <submit>Upload</submit>
</div>