<div>
  <h1>Import data</h1>
  <h4>Select raw data file for upload, existing records will be updated if found.</h4>
  <p>
    A csv file is required with the following headers:
    <ul>
      <li>Date</li>
      <li>Basic fuel price</li>
    </ul>
  </p>
  <input type="file" name="pic" accept=".csv">
</div>